Ball Breaker/obj/Debug/**
Ball Breaker/.vs/**
Ball Breaker/bin/Debug/Ball Breaker.exe
Ball Breaker/bin/Debug/Ball Breaker.pdb
Ball Breaker/obj/Debug/Ball Breaker.csproj.FileListAbsolute.txtBall Breaker/bin/Debug/Ball Breaker.exe.configBall Breaker/bin/Debug/Ball Breaker.exe.configBall Breaker/bin/Debug/Ball Breaker.exe.config